/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@keyframes slide-in {
    from { transform: translate(-100%, 0); }
    to { transform: translate(0, 0); }
}
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    0% { opacity: 0; }
}
.blink {
    animation: blink 4s infinite;
    animation-fill-mode: both;
}

body {
    font: 13px "Arial", sans-serif;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.header {
    @media only screen and (max-width: 768px) {
        
    }
    &__logo {
        float: left;
        @media only screen and (max-width: 768px) {
            float: none;
            margin: 0 auto;
            width: 200px;
            display: block;
        }
        &--homepage {
            position: fixed;
            top: 60%;
            left: 50%;
        }
    }
    &__tel {
        font-size: 25px;
        font-weight: bold;
        float: right;
        color: #fff;
        margin-top: 60px;
        margin-bottom: 0;
        text-shadow: rgba(0, 0, 0, 1) 1px 1px 0px;
        @media only screen and (max-width: 768px) {
            float: none;
            width: 100%;
            margin-top: 10px;
            text-align: center;
        }
    }
}

.nav {
    float: left;
    margin-top: 20px;
    @media only screen and (max-width: 768px) {
        float: none;
    }
    .lang {
        margin-left: 15px;
        @media only screen and (max-width: 768px) {
            text-align: center;
        }
    }
    ul {
        list-style: none;
        width: 200px;
        padding: 0;
        @media only screen and (max-width: 768px) {
            width: 100%;
            text-align: center;
        }
        li {
            position: relative;
            width: 100%;
            display: inline-block;
            margin-bottom: 10px;
            transform: translate(-100%, 0);

            animation-name: slide-in;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            @for $i from 1 to 10 {
              &:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
            }
            > ul {
                position: absolute;
                width: 340px;
                left: 96px;
                top: -5px;
                padding: 5px 15px 10px 0px;
                background: #fff;
                z-index: 999;
                opacity:0;
                pointer-events: none;
                transition: all 0.2s ease-in-out;
                @media only screen and (max-width: 768px) {
                    background: none;   
                    opacity: 1;
                    width: 100%;
                    position: static;
               }
            }
            &:hover {
                > ul {
                    opacity:1;
                    pointer-events:auto;
                    li {
                        margin-bottom: 0;
                        @media only screen and (max-width: 768px) {
                            margin-bottom: 10px;
                        }
                    }
                    a {
                        text-shadow: none;
                        color: #555;
                        &:hover {
                            color: #000;
                        }
                    }
                }   
                a {
                    background: #fff;
                    color: #000;
                    text-shadow: none;
                    @media only screen and (max-width: 768px) {
                        background: transparent;
                        width: 100%;
                    }

                }
            }
            a {
                color: #fff;
                font-size: 18px;
                line-height: 1.3;
                padding: 7px 15px;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                text-shadow: rgba(0, 0, 0, 1) 1px 1px 0px;
                &.is-current {
                    border-bottom: 3px solid white;
                    color: #ccc;
                    text-shadow: none;
                }
            }
        }
    }
}


.main {
    margin-left: 250px;
    @media only screen and (max-width: 768px) {
        margin-left: 0;
    }
    h2 {
        margin-top: 0;
        font-size: 25px;
        color: #fff;
        text-transform: uppercase;
        text-shadow: rgba(0, 0, 0, 1) 1px 1px 0px;
    }
    h3 {
        font-size: 20px;
        margin-top: 0;
    }
    p, li {
        font-weight: bold;
    }
    &__homepage {
        width: 230px;
        margin-top: 100px;
        h2 {
            font-size: 30px;
            line-height: 1;
            font-weight: 400;
        }
    }
    &__bg {
        padding: 25px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
    }
    .left-col, .right-col {
        width: 50%;
        float: left;
    }
    .right-col {
        width: 50%;
        float: right;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 12px;
        thead {
            text-align: left;
            th:first-child {
                font-size: 20px;
            }
            th:last-child {
                text-align: right;
            }
        }
        td {
            height: 23px;
            &:last-child {
                text-align: right;
            }
        }
    }
}

blockquote {
    padding: 5px 70px 0px 55px;
    margin: 46px 10px 15px 8%;
    background: url(/img/block_quote.png) no-repeat top left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    p {
        margin: 0 0 15px 0;
    }
}

.bg-pattern {
    background: url(/img/pattern.png);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -998;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


@import 'slick-theme';